:root{
  --gray-100: #F2F2F2;
  --gray-200: #d9d9d9;
  --gray-400: #808080;
  --blue-500: #4EA8DE;
  --blue-600: #1E6F9F;
  --purple-500: #8284FA;
  --purple-600: #5E60CE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
